body {
	overflow-x: hidden;
	font-family: "poppins", sans-serif;
	box-sizing: border-box !important;
}

a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
span::selection {
	background-color: rgba(255, 255, 255, 0.062);
	color: #2aadeb;
}

section .col.header h1 {
	font-weight: 600;
}

section .col.header hr {
	width: 60px;
	height: 2px;
	background-color: #2aadeb;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background-color: #1f1f1f;
}

body::-webkit-scrollbar-thumb {
	background-color: #2aadeb;
}

:root {
	scrollbar-color: #2aadeb #1f1f1f;
	scrollbar-width: thin !important;
}

a#button {
	display: inline-block;
	background-color: #2aaeeb9c;
	padding: 10px 15px;
	text-align: center;
	border-radius: 3px;
	position: fixed;
	font-size: 17px;
	bottom: 20px;
	right: 20px;
	transition: 0.3s;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
	cursor: pointer;
	text-decoration: none;
}

a#button:hover {
	background-color: #2aadeb;
}

a#button.show {
	opacity: 1;
	visibility: visible;
}

header {
	position: sticky;
	top: 0;
	z-index: 99 !important;
	font-family: "Source Sans Pro", sans-serif;
}

header nav {
	display: flex;
	align-items: center;
	min-height: 70px;
	align-items: center;
	z-index: 99;
	background-color: transparent !important;
	transition: all 0.3s ease-in;
}

header nav .container {
	display: flex;
	justify-content: space-between;
}

header .black {
	background-color: #1f1f1f !important;
	transition: all 0.3s ease-in;
}

header a.logo {
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: white;
	transition: 0.3s ease-in-out;
}

header a:hover {
	color: #2aadeb;
	text-decoration: none;
}

header nav ul {
	display: flex;
	justify-content: space-between;
	width: 500px;
	padding: 0;
	margin: 0;
}

header ul li {
	list-style-type: none;
}

header ul li a {
	text-decoration: none;
	color: white;
	font-size: 14px;
	transition: 0.3s ease-in-out;
}

header .burger {
	cursor: pointer;
	transition: 0.3s ease-in-out;
	display: none;
	z-index: 999;
}

header .burger div {
	width: 25px;
	height: 3px;
	margin: 4px 0;
	border-radius: 5px;
	background-color: white;
	transition: 0.3s ease-in-out;
}

header .burger:hover div {
	background-color: #2aadeb;
}

.blog-jumbotron {
	min-height: 45vh;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position-y: -300px;
	color: #fff;
	margin-top: -70px;
	background-attachment: fixed;
}

.blog-jumbotron h1 {
	font-weight: 400;
}

.blog-jumbotron a {
	font-size: 15px;
	color: #98999c;
	text-decoration: none;
	transition: 0.3s;
}

.blog-jumbotron a:hover {
	color: #2aadeb;
}

.container {
	overflow: hidden;
}

.section-five {
	padding: 70px 0 60px;
	background-color: #f0f0f042;
}

.section-five .col-lg-4.portofolio-parallax {
	opacity: 0;
	transition: 0.5s;
	transform: translate(0, 100px);
}

.section-five .col-lg-4.portofolio-parallax.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.section-five .col-lg-4 h5 {
	font-size: 14px;
	font-weight: 600;
	margin-top: 10px;
	color: #1f1f1f;
}

.section-five .col-lg-4 p {
	font-size: 14px;
	font-weight: 300;
	margin-top: -5px;
	color: #535353;
}

.section-five .margin {
	border-radius: 3px;
	background-color: #1f1f1f;
	border-radius: 3px;
	padding: 40px;
	transition: 0.5s;
	position: relative;
}

.section-five .margin img {
	filter: drop-shadow(3px 3px 20px #000000);
}

.section-five .margin:hover {
	box-shadow: 5px 8px 12px #a8a8a8;
}

.section-five .margin:hover span {
	opacity: 1;
}

.section-five .margin span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #030303d2;
	opacity: 0;
	transition: 0.5s;
}

.section-five .margin span a {
	color: #fff;
	height: 40px;
	width: 110px;
	line-height: 40px;
	text-decoration: none;
	display: block;
	border: 2px solid #2aadeb;
	border-radius: 25px;
	transition: 0.5s;
}

.section-five .margin span a:hover {
	background-color: #2aadeb;
}

.section-five .overlay {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 999;
	transition: 0.5s;
	text-align: center;
	width: 0;
	height: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-five .overlay:target {
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

.section-five .overlay:target img {
	animation: animation 1s;
}

.section-five .overlay .get-scroll {
	width: 70%;
	margin: auto;
	height: 90vh;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.section-five .overlay .get-scroll img {
	width: 100%;
}

@keyframes animation {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.footer {
	background-color: #1f1f1f;
	padding: 10px 0;
}

.footer .col {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer p,
.footer p a,
.footer .menu a {
	color: #5c5c5c;
	text-decoration: none;
	font-size: 14px;
}

.footer p a {
	color: #2aadeb;
}

.footer .menu a {
	padding: 0 5px;
	color: #f5f5f5;
	transition: 0.3s;
}

.footer .menu a:hover {
	color: #2aadeb !important;
}

@media (max-width: 992px) {
	header nav {
		padding: 0 70px;
	}
	header nav ul {
		width: 450px;
	}
	.container {
		padding: 0;
	}
}

@media (max-width: 768px) {
	header .burger {
		display: block;
	}
	header nav {
		padding: 0 20px !important;
	}
	header nav ul {
		position: absolute;
		top: 0;
		right: 0;
		width: 65% !important;
		height: 100vh;
		background-color: #1f1f1fe1;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		transition: all 0.3s ease-in-out;
		transform: translateX(100%);
		display: none;
	}
	header nav ul li {
		opacity: 0;
	}
	@keyframes liFadeIn {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
	.nav-active {
		transform: translateX(0) !important;
		display: flex;
	}
	.toggle .line-one {
		transform: rotate(-45deg) translate(-5px, 5px);
	}
	.toggle .line-two {
		opacity: 0;
	}
	.toggle .line-three {
		transform: rotate(45deg) translate(-5px, -5px);
	}
}

@media (max-width: 575px) {
	header nav .logo a {
		font-size: 19px;
	}
	header nav ul li a {
		font-size: 12px;
	}
	.blog-jumbotron h1 {
		font-size: 30px;
	}
	.blog-jumbotron a {
		font-size: 13px;
		transition: 0.3s;
	}
	section .col.header h1 {
		font-size: 30px;
	}
	.section-five {
		padding: 70px 20px 60px;
	}
	.footer {
		padding: 5px 0;
	}
	.footer .col {
		flex-direction: column;
		text-align: center;
	}
	.footer p {
		font-size: 13px;
	}
	.footer .menu {
		display: none;
	}
}
