html body {
	font-family: "poppins", sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* Uttility */

:root {
	--default-blue-color: #2aadeb;
	scrollbar-color: var(--default-blue-color) #1f1f1f;
	scrollbar-width: thin;
}

a {
	text-decoration: none !important;
}

a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
span::selection {
	background-color: #ffffff10;
	color: var(--default-blue-color);
}

section .col.header h1 {
	font-weight: 600;
}

section .col.header hr {
	width: 60px;
	height: 2px;
	background-color: var(--default-blue-color);
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background-color: #1f1f1f;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--default-blue-color);
}
.error-404 {
	height: 82vh;
}
.error-404 img {
	height: auto;
	width: 400px;
}

/* Akhir Uttility */

/* Loading */

html body.loading {
	display: flex;
	height: 100vh;
	overflow-y: scroll;
}

.pages-render.loading,
section.loading,
header.loading,
footer.loading {
	opacity: 0;
	display: none !important;
}

.img-loading {
	margin: auto;
	user-select: none;
	height: 100vh;
	z-index: 1000 !important;
	transition: 1s ease;
}
.img-loading.loaded {
	opacity: 0;
}

.img-loading img {
	width: 130px;
	height: auto;
}

.img-loading p {
	margin-top: 10px;
	font-weight: 600;
}

/* Loading */

a#button-to-top {
	display: inline-block;
	background-color: #2aaeeb9c;
	padding: 10px 15px;
	text-align: center;
	border-radius: 3px;
	position: fixed;
	font-size: 17px;
	bottom: 20px;
	right: 35px;
	transition: 0.3s;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
	cursor: pointer;
	text-decoration: none;
}

a#button-to-top span {
	color: black;
}

a#button-to-top:hover {
	background-color: var(--default-blue-color);
}

a#button-to-top.show {
	opacity: 1;
	visibility: visible;
}

/* Navbar */

header {
	position: sticky;
	top: 0;
	z-index: 99 !important;
	font-family: "Source Sans Pro", sans-serif;
}

header nav {
	min-height: 70px;
	z-index: 999;
	background-color: transparent;
	transition: all 0.3s ease;
}

header .black {
	background-color: #1f1f1f !important;
	transition: all 0.3s ease-in;
}

header a.logo {
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: white;
	transition: 0.3s ease;
}

header a:hover {
	color: var(--default-blue-color);
}

header nav ul {
	display: flex;
	justify-content: space-between;
	width: 500px;
}

header ul li a {
	color: white;
	font-size: 14px;
	transition: 0.3s ease;
}

header .burger {
	cursor: pointer;
	transition: 0.3s ease;
	display: none;
	z-index: 999;
}

.burger div {
	width: 25px;
	height: 3px;
	margin: 4px 0;
	border-radius: 5px;
	background-color: white;
	transition: 0.3s ease;
}

.burger:hover div {
	background-color: var(--default-blue-color);
}

/* Akhir Navbar */

/* Jumbotron */

.jumbotron {
	height: 100vh;
	background: #142e3d url(../img/bg.jpg) no-repeat fixed center;
	background-size: cover;
	color: #fff;
	margin-top: -70px; /* Relative mengikuti tinggi navbar */
	font-family: "Source Sans Pro", sans-serif;
}

.content .row {
	margin-top: 100px;
}

.content .col:first-child {
	padding: 10px 0 20px;
	margin-bottom: 10px;
}

.content h1 {
	font-size: 46px;
	line-height: 46px;
	font-weight: 100;
	color: var(--default-blue-color);
}

.content h1 span {
	color: white;
}

/* .txt dibuat di javascript */
.text .txt {
	position: relative;
}

.text .txt::after {
	content: "";
	position: absolute;
	border-right: 2px solid white;
	height: 40px;
	margin: 7px 0 0 5px;
	animation: blink 0.5s infinite ease;
}

@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.content a.discover-more-btn {
	background-color: #fff;
	border: 2px solid #fff;
	padding: 13px 25px;
	border-radius: 25px;
	color: #333;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	transition: 0.3s ease;
}

.content a.discover-more-btn:hover {
	background-color: transparent;
	border-color: var(--default-blue-color);
	color: var(--default-blue-color);
}

.content .down {
	margin-top: 120px;
}

.content .down a {
	font-size: 40px;
	text-decoration: none;
	color: #fff;
	transition: 0.3s;
}

.content .down a:hover {
	color: var(--default-blue-color);
}

/* Akhir Jumbotron */

/* Blog Jumbotron */

.blog-jumbotron {
	min-height: 45vh;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position-y: -300px;
	color: #fff;
	margin-top: -70px;
	background-attachment: fixed;
}

.blog-jumbotron h1 {
	font-weight: 400;
}

.blog-jumbotron a {
	font-size: 15px;
	color: #98999c;
	text-decoration: none;
	transition: 0.3s;
}

.blog-jumbotron a:hover {
	color: #2aadeb;
}

/* Akhir Blog Jumbotron */

/* Features Section */

.features-section {
	margin: 150px 0;
}

.feature div {
	position: relative;
	padding: 60px 15px;
	border: 1px solid #eeeeeed3;
	border-radius: 3px;
	cursor: context-menu;
}

.feature div::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	transition: 0.4s ease;
	height: 100%;
	z-index: -1;
	background-color: #1f1f1f;
}

.feature div:hover::before {
	width: 100%;
}

.feature .feature-parallax {
	opacity: 0;
	transition: 0.6s;
}

.feature .feature-parallax.left {
	transform: translate(-100%, 0px);
}

.feature .feature-parallax.right {
	transform: translate(100%, 0px);
}

.feature .feature-parallax.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.features-section .feature i {
	font-size: 35px;
	color: var(--default-blue-color);
	transition: 0.4s ease;
}

.features-section .feature:hover i {
	filter: drop-shadow(0 0 15px #2aaeeb);
}

.feature h3 {
	font-weight: 600;
	font-size: 20px;
	margin: 10px 0;
	color: #1f1f1f;
	transition: 0.4s ease;
}

.feature:hover h3 {
	color: #f8f8f8;
}

.feature p {
	font-size: 14px;
	font-weight: 300;
	color: #1f1f1f;
	transition: 0.4s ease;
}

.feature:hover p {
	color: #f8f8f8;
}

/* Akhir Features Section */

/* Expertness Section */

.expertness {
	margin: 150px 0;
	padding: 70px 0 60px;
	background-color: #f0f0f042;
}

.expertness {
	margin-top: 10%;
}
.expertness p {
	font-size: 14px;
	padding-top: 40px;
	line-height: 24px;
	margin-top: 10px;
	color: #777;
	font-weight: 400;
	margin-bottom: 0;
}
.expertness h4 {
	font-size: 18px;
	font-weight: 600;
	margin: 40px 0;
}
.progress {
	border: 3px solid rgb(233, 233, 233);
}
.progress-bar {
	background-image: linear-gradient(to right, #6da0ff, var(--default-blue-color));
	width: 0;
	transition: 2s ease-in-out;
}

/* Akhir Expertness Section */

/* Services Section  */

.services-section {
	margin: 150px 0;
}

.services-section .service {
	opacity: 0;
	transition: 0.7s;
	transform: translate(-100%, 0);
}

.services-section .service.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.service span {
	font-size: 30px;
	margin-right: 10px;
	color: #2aadeb;
}

.service .text h3 {
	font-weight: 600;
	font-size: 20px;
	color: #1f1f1f;
}

.service .text p {
	font-size: 14px;
	font-weight: 300;
	color: #1f1f1f;
	margin-bottom: 40px;
}

.services-section a.contact-btn {
	height: 45px;
	line-height: 45px;
	display: inline-block;
	text-decoration: none;
	width: 130px;
	font-weight: 500;
	color: #1f1f1f;
	border: 2px solid #2aadeb;
	background-color: transparent;
	transition: 0.5s;
	position: relative;
	border-radius: 3px;
}

.services-section a.contact-btn:hover {
	color: #2aadeb;
}

.services-section a.contact-btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1f1f1f;
	height: 0%;
	width: 100%;
	transition: 0.5s;
	z-index: -1;
}

.services-section a.contact-btn:hover::before {
	height: 100%;
}

/* Akhir Services Section */

/* Portfolios Section */

.section-five {
	margin: 150px 0;
	padding: 70px 0 60px;
	background-color: #f0f0f042;
}

.section-five .portfolio-parallax {
	opacity: 0;
	transition: 0.5s;
	transform: translate(0, 100px);
}

.section-five .portfolio-parallax.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.portfolio-parallax h5 {
	font-size: 14px;
	font-weight: 600;
	margin-top: 10px;
	color: #1f1f1f;
}

.portfolio-parallax p {
	font-size: 14px;
	font-weight: 300;
	margin-top: -5px;
	color: #535353;
}

.portfolio-parallax div {
	border-radius: 3px;
	background-color: #1f1f1f;
	border-radius: 3px;
	padding: 40px;
	transition: 0.5s;
	position: relative;
}

.portfolio-parallax div img {
	filter: drop-shadow(3px 3px 20px #000000);
}

.portfolio-parallax div img.see-more {
	opacity: 0;
}

.portfolio-parallax div:hover {
	box-shadow: 5px 8px 12px #a8a8a8;
}

.portfolio-parallax div:hover span {
	opacity: 1;
}

.portfolio-parallax div span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #030303d2;
	opacity: 0;
	transition: 0.5s;
}

.portfolio-parallax div span.see-more {
	opacity: 1;
}

.portfolio-parallax div span a {
	color: #fff;
	height: 40px;
	width: 110px;
	line-height: 40px;
	text-decoration: none;
	display: block;
	border: 2px solid var(--default-blue-color);
	border-radius: 25px;
	transition: 0.5s;
}

.portfolio-parallax div span a:hover {
	background-color: var(--default-blue-color);
}

.section-five .overlay {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	background-color: #00000000;
	z-index: 999;
	transition: 0.5s;
	text-align: center;
	width: 0;
	height: 0;
}

.section-five .overlay:target {
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
	background-color: #000000cc;
}

.section-five .overlay:target img {
	animation: animation 1s;
}

.overlay .get-scroll {
	width: 70%;
	margin: auto;
	max-height: 90vh;
	overflow-y: scroll;
	position: relative;
}

.overlay .get-scroll img {
	width: 100%;
}

.overlay .get-scroll::-webkit-scrollbar {
	width: 5px;
}

.overlay .get-scroll::-webkit-scrollbar-track {
	background-color: #1f1f1f;
}

.overlay .get-scroll::-webkit-scrollbar-thumb {
	background-color: var(--default-blue-color);
}

@keyframes animation {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

/* Akhir Portfolios Section */

/* Certificates Section */

.certificates-section {
	margin: 150px 0;
}

.certificate-parallax .img-container {
	transition: 0.3s;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.certificate-parallax .img-container::before {
	content: "";
	position: absolute;
	top: 0;
	height: 150%;
	width: 7%;
	background-color: #e7e7e76e;
	opacity: 0.8;
	box-shadow: 0 0 10px #e0e0e065;
	animation: glass 3s ease-in-out infinite;
}

.certificate-parallax .img-container::after {
	content: "";
	position: absolute;
	top: 0;
	height: 200%;
	width: 3%;
	background-color: #e7e7e76e;
	opacity: 0.8;
	box-shadow: 0 0 10px #e0e0e065;
	animation: glassTwo 2s ease-in-out infinite;
	animation-delay: 1s;
}

.nonaktif .img-container::before,
.nonaktif .img-container::after {
	animation: unset;
}

.certificates-section .certificate-parallax {
	opacity: 0;
	transition: 0.5s;
	transform: translate(0, 100px);
}

.certificates-section .certificate-parallax.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

@keyframes glass {
	from {
		transform: rotate(40deg) translate(-1200%, -50%);
	}
	to {
		transform: rotate(40deg) translate(4000%, -50%);
	}
}

@keyframes glassTwo {
	from {
		transform: rotate(40deg) translate(-4000%, -0%);
	}
	to {
		transform: rotate(40deg) translate(4000%, -0%);
	}
}

.certificate-parallax .img-container img {
	transition: 0.3s;
	height: 230px;
	width: 100%;
	border-radius: 3px;
}

.certificate-parallax .img-container img.see-more {
	opacity: 0;
}

.certificate-parallax h5 {
	font-size: 14px;
	font-weight: 600;
	margin-top: 10px;
	color: #1f1f1f;
}

.certificate-parallax p {
	font-size: 14px;
	font-weight: 300;
	margin-top: -5px;
	color: #535353;
}

.certificate-parallax.nonaktif span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: 0.5s;
	background-color: whitesmoke;
}

.certificate-parallax.nonaktif span a {
	color: #1f1f1f;
	height: 40px;
	width: 110px;
	line-height: 40px;
	text-decoration: none;
	display: block;
	border: 2px solid #2aadeb;
	border-radius: 25px;
	transition: 0.5s;
}

.certificate-parallax.nonaktif span a:hover {
	background-color: #2aadeb;
}

/* Akhir Certificates Section */

/* Preview Section */

.preview-section .project {
	background-image: linear-gradient(#000000cc, #000000cc), url(../img/bg2.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 50px 0;
}

.preview-section h1 {
	font-size: 40px;
	font-weight: 600;
}

.preview-section .contact {
	background-color: #1f1f1f;
	padding: 20px 0;
	z-index: -99;
}

.preview-section .contact h4 {
	font-weight: 300;
	font-size: 17px;
}

.preview-section a {
	height: 45px;
	line-height: 40px;
	display: inline-block;
	text-decoration: none;
	width: 130px;
	font-weight: 500;
	color: #2aadeb;
	border: 2px solid #2aadeb;
	background-color: transparent;
	transition: 0.5s;
	position: relative;
	border-radius: 3px;
	z-index: 9;
}

.preview-section a:hover {
	color: #1f1f1f;
}

.preview-section a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #2aadeb;
	height: 100%;
	width: 0%;
	transition: 0.5s;
	z-index: -9;
}

.preview-section a:hover::before {
	width: 100%;
}

/* Akhir Preview Section */

/* Team Section */

.team-section {
	margin: 150px 0;
}

.team-section .team-parallax {
	opacity: 1;
	transition: 0.5s;
	transform: translate(0, 100px);
}

.team-section .team-parallax.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.team-parallax img {
	border-radius: 50%;
	transition: 0.4s ease;
}

.team-parallax .img-container {
	border-radius: 50%;
	filter: drop-shadow(2px 1px 15px #d1d1d1be);
	transform: scale(0.9);
	overflow: hidden;
	position: relative;
}

.team-parallax .img-container span {
	display: block;
	position: absolute;
	background-color: #000000b2;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.3s;
}

.team-parallax .img-container:hover {
	filter: drop-shadow(2px 1px 10px #2aaeeba2);
	border: 2px solid #2aaeeba2;
}

.team-parallax .img-container:hover img {
	transform: rotate(10deg) scale(1.1);
}

.team-parallax .img-container:hover span {
	opacity: 1;
}

.team-parallax .img-container span i {
	margin: 0 10px;
	font-size: 20px;
	color: var(--default-blue-color);
}

.team-parallax .img-container span i:hover {
	transform: scale(0.9);
	color: var(--default-blue-color);
}

.team-parallax h5 {
	font-size: 16px;
	font-weight: 700;
	color: #1f1f1f;
}

.team-parallax p {
	margin-top: -6px;
	font-weight: 300;
	color: #535353;
}

/* Akhir Team Section */

/* Footer */

footer {
	background-color: #1f1f1f;
	padding: 10px 0;
}

footer p,
footer p a,
footer .menu a {
	color: #c5c5c5;
	font-size: 14px;
}

footer p a {
	color: var(--default-blue-color);
}

footer .menu a {
	padding: 0 5px;
	transition: 0.3s;
}

footer .menu a:hover {
	color: var(--default-blue-color) !important;
}

/* Akhir Footer */

@media screen and (max-width: 1200px) {
	.feature div {
		padding: 35px 15px;
	}
	.certificate-parallax .img-container img {
		height: 200px !important;
	}
}

@media screen and (max-width: 992px) {
	header nav ul {
		width: 450px;
	}

	.features-section .feature i {
		font-size: 25px;
	}

	.feature h3 {
		font-weight: 600;
		font-size: 18px;
		margin: 8px 0;
	}

	.feature p {
		font-size: 14px;
	}

	.skills-section {
		text-align: center;
	}
	.skills-section .right {
		padding-bottom: 77px;
	}
	.portfolio-parallax div span a,
	.certificate-parallax.nonaktif div span a {
		height: 35px;
		width: 100px;
		line-height: 35px;
		font-size: 14px;
	}

	.certificate-parallax .img-container img {
		height: 150px !important;
	}
}

@media screen and (max-width: 768px) {
	.img-loading p {
		margin-top: 10px !important;
	}
	header nav {
		padding: 0 20px;
	}
	header .burger {
		display: block;
	}
	header nav ul {
		position: absolute;
		top: 0;
		right: 0;
		width: 40% !important;
		height: 100vh;
		background-color: whitesmoke;
		justify-content: unset;
		align-items: flex-end;
		flex-direction: column;
		display: none !important;
		transition: all 0.2s ease-in-out;
		transform: translateX(100%);
		box-shadow: 0 -10px 20px #41414138;
	}
	header nav ul li {
		opacity: 0;
		margin: 20px 35px;
	}
	header nav ul li:nth-child(1) {
		margin: 70px 35px 20px;
	}
	header nav ul li a {
		color: #1f1f1f;
		font-weight: 600;
		letter-spacing: 2px;
	}
	header .burger div.active {
		background-color: #1f1f1f;
	}
	@keyframes liFadeIn {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
	.nav-active {
		transform: translateX(0) !important;
		display: flex !important;
	}
	.toggle .line-one {
		transform: rotate(-45deg) translate(-5px, 5px);
	}
	.toggle .line-two {
		opacity: 0;
	}
	.toggle .line-three {
		transform: rotate(45deg) translate(-5px, -5px);
	}
	.jumbotron .content h1 {
		font-size: 32px;
		line-height: 46px;
		font-weight: 100;
		padding: 0 10px;
	}

	.feature div {
		padding: 50px 15px;
	}

	.feature h3 {
		font-size: 20px;
	}

	.services-section {
		text-align: center;
	}
	.service {
		margin: 10px 0;
		display: unset !important;
	}
}

@media screen and (max-width: 575px) {
	.col.header h1 {
		font-size: 30px;
	}

	.error-404 img {
		height: auto;
		width: 300px !important;
	}

	.img-loading img {
		width: 130px;
		height: auto;
	}

	.img-loading p {
		font-size: 14px;
	}
	header nav .logo a {
		font-size: 19px;
	}
	header nav ul {
		width: 60% !important;
	}
	header nav ul li a {
		font-size: 12px;
		font-weight: 600 !important;
	}
	.jumbotron .content h1 {
		font-size: 30px;
		line-height: 30px;
	}

	.jumbotron .content h1 span.blue {
		font-size: 30px;
		line-height: 30px;
	}
	.jumbotron .content a.discover-more-btn {
		padding: 13px 20px;
		font-size: 10px;
	}

	.text .txt::after {
		height: 30px;
		margin-top: 5px;
	}

	.blog-jumbotron h1 {
		font-size: 30px;
	}
	.blog-jumbotron a {
		font-size: 13px;
		transition: 0.3s;
	}

	.progress-style {
		padding: 0 30px;
	}

	.services-section,
	.features-section .feature {
		padding: 0 30px;
	}
	.portfolios-section,
	.certificates-section {
		padding: 70px 20px;
	}

	.portfolio-parallax div span a,
	.certificate-parallax.nonaktif div span a {
		height: 45px;
		width: 130px;
		line-height: 45px;
	}

	.preview-section .col-lg-3 {
		margin-bottom: 20px;
	}
	.preview-section .contact {
		padding: 20px;
	}
	.certificate-parallax .img-container img {
		height: 275px !important;
	}

	footer {
		padding: 5px 0;
	}
	footer .col {
		flex-direction: column;
		text-align: center;
	}
	footer p {
		font-size: 13px;
	}
	footer .menu {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	p {
		font-size: 13px !important;
	}

	.error-404 img {
		height: auto;
		width: 250px;
	}

	.features-section,
	.skills-section,
	.services-section,
	.portfolios-section,
	.certificates-section,
	.team-section {
		margin: 100px 0;
	}
	.certificate-parallax .img-container img {
		height: 200px !important;
	}

	.preview-section .contact h4 {
		font-size: 14px;
	}
}
